@import "tailwindcss";

/* Thin spinner removal for number inputs */
.remove-number-spinner::-webkit-outer-spin-button,
.remove-number-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.remove-number-spinner[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
